<div class="element-header">
  <a class="element-title" href="{{url_for('element_view', course=element.course, branch=element.branch, path=element.path)}}">{{element.getTitle()}}</a>

  <div class="element-header-buttons">
    <a href="{{url_for('element_edit', course=element.course, branch=element.branch, path=element.path)}}"><i class="fa fa-pencil-square-o">Edit</i></a>
    <a href="{{url_for('element_delete', course=element.course, branch=element.branch, path=element.path)}}"><i class="fa trash-o">Delete</i></a>
  </div>
</div>
