<div class="element-header">
  <span> {{element.getId()}} </span>
  <a class="element-title" href="{{url_for('element_view', course=element.course, branch=element.branch, path=element.path)}}">{{element.getTitle()}}</a>

  <span class="element-header-buttons">
    <a href="{{url_for('element_edit', course=element.course, branch=element.branch, path=element.path)}}">
      <i class="fa fa-pencil-square-o">
        <span class="sr-only">
          {{gettext('Edit')}}
        </span>
      </i>
    </a>
    <a href="{{url_for('element_delete', course=element.course, branch=element.branch, path=element.path)}}">
      <i class="fa fa-trash-o">
        <span class="sr-only">
          {{gettext('Delete')}}
        </span>
      </i>
    </a>

    {% if element.meta['type'] == 'Assignment' or element.meta['type'] == 'Collection' %}
      <a href="{{url_for('collection_element_correct', course=element.course, branch=element.branch, path=element.path)}}">
        <i class="fa fa-graduation-cap">
          <span class="sr-only">
            {{gettext('Correct')}}
          </span>
        </i>
      </a>
    {% endif %}

    {% if element.meta['type'] == 'Assignment' %}
      <a href="{{url_for('assignment_element_stats', course=element.course, branch=element.branch, path=element.path)}}">
        <i class="fa fa-tasks">
          <span class="sr-only">
            {{gettext('Statistics')}}
          </span>
        </i>
      </a>
    {% endif %}
  </span>
</div>
