<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{gettext('Labsystem')}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('course_element_list')}}">{{gettext('Courses')}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{gettext('Language')}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for code, data in getAvailableLanguages().items() %}
              <li class="{{"active" if code == getLanguage()|string}}">
                <a href="{{url_for('set_language', language=code, back=request.path)}}">
                  <span class="flag-icon flag-icon-{{data.flag}}"></span>
                  {{gettext(data.name)}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
