{% set x = element.setupShuffle(g.user) %}

{% set answer = element.getAnswer(g.user) %}
{% set fullanswercontent = answer.getLatestCorrection() %}
{% set existing = loadYAML(fullanswercontent.correction) %}
{% set correction = element.getCorrection() %}
{% set hasContent = answer.hasContent() %}

{% if hasContent %}
  {% set answercontent = loadYAML(answer.getLatestContent().content) %}
  {% set isCorrect = element.isCorrect(correction, fullanswercontent) %}
{% else %}
  {% set isCorrect = false %}
{% endif %}

{% set options = do_shuffle(element.meta.options, existing)%}

{{element.getQuestionDisplayElement().render('question')|safe}}

<form method="POST" action="{{url_for("mc_question_element_answer", course=element.course, branch=element.branch, path=element.path, back=request.path)}}">
  {% for option in options %}
    {% if hasContent %}
      {% set rowindex = loop.index0 %}
      {% for column in answercontent %}
        {% set isCorrectColumn = element.isCorrect(correction, fullanswercontent, loop.index0) %}

        <div class="checkbox-inline {% if isCorrectColumn %}mc-correct{% else %}mc-incorrect{% endif %}">
            <label>
              <input disabled type="checkbox" {{ "checked" if column[rowindex] }}>
            </label>
        </div>
      {% endfor %}
    {% endif %}

    {% if not isCorrect %}
      <div class="checkbox-inline">
          <label>
            <input type="checkbox" name="checkbox_{{loop.index0}}">
            {{element.getDisplayElement(option.content).render('question')|safe}}
          </label>
      </div>
    {% endif %}

    <br />
  {% endfor %}

  {% if not isCorrect %}
    <button type="submit" class="btn btn-default">{{gettext('Save')}}</button>
  {% endif %}
</form>
