{{element.getQuestionDisplayElement().render('question')|safe}}

{% set previousAnswers = controller.getPreviousAnswers() %}
{% set collegueAnswers = controller.getCollegueAnswers() %}

<table>
  <form method="POST" action="{{url_for("mc_question_element_answer", course=element.course, branch=element.branch, path=element.path, back=request.path)}}">
    {# userNames #}

    {% if needTeamAnswer%}
      <tr>
        {% for answer in previousAnswers %}
          <td></td>
        {% endfor %}

        {% for user in controller.getCollegues() %}
          <td>{{user.name}}</td>
        {% endfor %}
      </tr>
    {% endif %}

    {% for i in range(element.meta.optionCount) %}
      <tr>
        {% set rowindex = shuffle[i] %}

        {% for answer in previousAnswers %}
          {% set isCorrectColumn = controller.isCorrect(answer) %}

          <td class="{% if isCorrectColumn %}mc-correct{% else %}mc-incorrect{% endif %}">
            <input disabled type="checkbox" {{ "checked" if answer[rowindex] }}>
          </td>
        {% endfor %}

        {% for answer in collegueAnswers %}
          {% if answer %}
            <td class="mc-collegue">
              <input disabled type="checkbox" {{ "checked" if answer[rowindex] }}>
            </td>
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}

        {% if controller.canAnswer() %}
          <td>
            {% if element.meta.singleChoice %}
              <input type="radio" name="answer" value="{{rowindex}}">
            {% else %}
              <input type="checkbox" name="checkbox_{{rowindex}}">
            {% endif %}
          </td>
        {% endif %}

        <td>
          {{element.getDisplayElement('Option-' + rowindex|string).render('question')|safe}}
        </td>
      </tr>
    {% endfor %}

    {# Show answer hints #}

    <tr>
      <td>
        <ul>
          {% for hint in controller.getHints() %}
            <li>
              {{hint.render('question')|safe}}
            </li>
          {% endfor %}
        </ul>
      </td>
    </tr>

    <tr>
      <td>
        {% if controller.canAnswer() %}
          <button type="submit" class="btn btn-default">{{gettext('Save')}}</button>
        {% endif %}
      </td>
    </tr>
  </form>
</table>
