{{element.getDisplayElement(element.meta.display).render('question')|safe}}

{% set correction = element.getCorrection() %}
{% set answer = element.getAnswer(getUser(request.args['user'])) %}
{% if answer.hasCorrection() %}
  {% set existing = loadYAML(answer.getLatestCorrection().correction) %}
{% endif %}

{% if answer.hasContent() and answer.hasCorrection() and answer.getLatestContent() != answer.getLatestCorrection() %}
  <span class="label label-warning">{{gettext('Content updated after last correction')}}</span>
{% endif%}

<pre>
  {{answer.getLatestContent().content if answer.hasContent()}}
</pre>

{{element.getDisplayElement(correction.hint).render('question')|safe}}

<form method="POST" action="{{url_for("question_element_correct", course=element.course, branch=element.branch, path=element.path, back=request.url)}}">
  <fieldset class="form-group">
    <div class="form-group">
      <label for="text">{{gettext('Correction')}}</label>
      <textarea class="form-control" name="text">{{existing['text'] if existing}}</textarea>
    </div>

    <div class="form-group">
      <label for="comment">{{gettext('Comment')}}</label>
      <textarea class="form-control" name="comment">{{existing['comment'] if existing}}</textarea>
    </div>

    <div class="form-group">
      <label for="credits">{{gettext('Credits')}}</label>
      <input type="number" class="form-control" id="credits" name="credits" value="{{existing['freeCredits']  if existing}}">
    </div>
  </fieldset>

  <fieldset class="form-group">
    {% for section in correction.sections %}
      <div class="form-group">
        <label for="text-{{loop.index0}}"> {{section.secret}}
          {{element.getDisplayElement(section.content).render('question')|safe}}
          {{element.getDisplayElement(section.secret).render('question')|safe}}
        </label>
        <div class="input-group">
          <div class="input-group-addon">
            <input type="checkbox" name="check-{{loop.index0}}" {% if existing and existing['check-' ~ loop.index0] %}checked{% endif %}>
          </div>
          <input type="text" class="form-control" id="{{loop.index0}}" name="text-{{loop.index0}}" value={{existing['text-' ~ loop.index0]  if existing}}>
          <div class="input-group-addon">{{section.credits}}</div>
        </div>
      </div>
    {% endfor %}
  </fieldset>

  <button type="submit" class="btn btn-default">{{gettext('Save')}}</button>
</form>
