{{element.getQuestionDisplayElement().render('question')|safe}}

{% set secret = element.getSecret() %}
{% set answer = element.getAnswer(getUser(request.args['user'])) %}
{% if answer.hasCorrection() %}
  {% set correction = loadYAML(answer.getLatestCorrection().correction) %}
{% endif %}

{% if answer.hasContent() and answer.hasCorrection() and answer.getLatestContent() != answer.getLatestCorrection() %}
  <span class="label label-warning">{{gettext('Content updated after last correction')}}</span>
{% endif%}

<pre>
  {{answer.getLatestContent().content if answer.hasContent()}}
</pre>

{{element.getHintElement().render('question')|safe}}

<form method="POST" action="{{url_for("question_element_correct", course=element.course, branch=element.branch, path=element.path, back=request.url)}}">
  <input type="hidden" name="user" value="{{request.args['user']}}">

  <fieldset class="form-group">
    <div class="form-group">
      <label for="text">{{gettext('Correction')}}</label>
      <textarea class="form-control" name="text">{{correction['text'] if correction}}</textarea>
    </div>

    <div class="form-group">
      <label for="comment">{{gettext('Comment')}}</label>
      <textarea class="form-control" name="comment">{{correction['comment'] if correction}}</textarea>
    </div>

    <div class="form-group">
      <label for="credits">{{gettext('Credits')}}</label>
      <input type="number" class="form-control" id="credits" name="credits" value="{{correction['freeCredits']  if correction}}">
    </div>
  </fieldset>

  <fieldset class="form-group">
    {% for credits in secret.sections %}
      <div class="form-group">
        <label for="text-{{loop.index0}}">
          {{element.getSectionContentElement(loop.index0).render('question')|safe}}
          {{element.getSectionSecretElement(loop.index0).render('question')|safe}}
        </label>
        <div class="input-group">
          <div class="input-group-addon">
            <input type="checkbox" name="check-{{loop.index0}}" {% if correction and correction['check-' ~ loop.index0] %}checked{% endif %}>
          </div>
          <input type="text" class="form-control" id="{{loop.index0}}" name="text-{{loop.index0}}" value={{correction['text-' ~ loop.index0]  if correction}}>
          <div class="input-group-addon">{{credits}}</div>
        </div>
      </div>
    {% endfor %}
  </fieldset>

  <button type="submit" class="btn btn-default">{{gettext('Save')}}</button>
</form>
