{{element.getQuestionDisplayElement().render('question')|safe}}

{% set answer = element.getAnswer(g.user) %}
{% if answer.hasCorrection() %}
  {% set existing = loadYAML(answer.getLatestCorrection().correction) %}
  {% set correction = element.getCorrection() %}
{% endif %}

<div class="answer">
  <div class="answer-label" style="display: hidden">
    <a>{{gettext('Answer')}}</a>
  </div>

  <form method="POST" action="{{url_for("question_element_answer", course=element.course, branch=element.branch, path=element.path, back=request.path)}}">
    <div class="form-group">
      <textarea class="form-control" name="answer">{{answer.getLatestContent().content if answer.hasContent()}}</textarea>
    </div>

    {% if existing %}
      {% if answer.hasContent() and answer.hasCorrection() and answer.getLatestContent() != answer.getLatestCorrection() %}
        <span class="label label-warning">{{gettext('Content updated after last correction')}}</span>
      {% endif%}

      <span class="label label-default">{{existing['credits']}}/{{correction['credits']}}</span>
      <span class="label label-info">{{answer.getLatestCorrection().corrector.name}}</span>
      <fieldset class="form-group">
        {% for section in correction.sections %}
          <div class="form-group">
            <label for="text-{{loop.index0}}"> {{section.secret}}
              {{element.getDisplayElement(section.content).render('question')|safe}}
            </label>
            <div class="input-group">
              <div class="input-group-addon">
                <input type="checkbox" name="check-{{loop.index0}}" {% if existing['check-' ~ loop.index0] %}checked{% endif %}>
              </div>
              <input type="text" class="form-control" id="{{loop.index0}}" name="text-{{loop.index0}}" value={{existing['text-' ~ loop.index0]}}>
              <div class="input-group-addon">{{section.credits}}</div>
            </div>
          </div>
        {% endfor %}
      </fieldset>
    {% endif %}

    <button type="submit" class="btn btn-default">{{gettext('Save')}}</button>
  </form>
</div>

<script>
  var data = {
    answer: $('div.answer').last(),
    lockUrl: "{{url_for("question_element_lock", course=element.course, branch=element.branch, path=element.path)}}",
    unlockUrl: "{{url_for("question_element_unlock", course=element.course, branch=element.branch, path=element.path)}}",
    locked: {{'true' if answer.isLocked() else 'false'}},
  }

  registerAnswer(data);
</script>
