@namespace h "http://www.w3.org/1999/xhtml";

/**
 * Base style
 */
body {
    padding:5pt; 
    margin: 5pt;
    font-size: 1em;
}

pre, table {
    font-size: .95em; 
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
}

a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
}

input.answer {
    border: 1px solid black;
    list-style-type: square;
    
}

img.input_mul, img.input_txt {
    display: block;
}

div.input_textarea {
    height: 80px;
    /* border: 1px solid #999; */
}

pre {
    font-size: .8em;
}

/* hack to prevent elements inside multiple choice questions breaking */
table, .donotbreak {
    page-break-inside: avoid;
}

table *, .donotbreak * {
    page-break-before: avoid;
    page-break-after: avoid;
}

.lowI {
    background-color: #FFeeee; border: solid 1px #aa9999; padding: 0 1em 0 1em; margin-bottom: 1em; border-radius: 0.3em; font-family: sans-serif; font-size: 0.8em;
}

.lowM {
    background-color: #eeffee; border: solid 1px #99aa99; padding: 0 1em 0 1em; margin-bottom: 1em; border-radius: 0.3em; font-family: sans-serif; font-size: 0.8em;
}

.lowM li > p {
    display: inline;
}

.lowM ul {
    list-style-type: circle;
}

/**
 * Styles for main headings
 */
h1 { font-size: 2em; }
h2 { font-size: 1.58em; }
h3 { font-size: 1.2em; }

/**
 * Styles for markdown headings, they should be smaller than h3
 */
.collection_content h1, .collection_content h2, .collection_content h3 { font-size: 1.17em; }

.pageBreakAfter {
    page-break-after: always;
}