{% extends "element.html" %}

{% block element %}

  <h2>{{gettext('Content')}}</h2>

  {% for element in element.getChildren() %}
    {% include "include/element-header.html" %}
    <div class="collection-content">
      {{element.render("course")|safe}}
    </div>
  {% endfor %}

  <h2>{{gettext('History')}}</h2>

  <ol>
    {% for commit in element.history() %}
      <li>
        <a href="{{url_for('course_element_view', course=element.course, branch=commit)}}">
          {{commit}}
        </a>

        -
        <span>{{commit.message}}</span>
        -
        <span>{{commit.author}}</span>
      </li>
    {% endfor %}
  </ol>

{% endblock element %}
