{% extends "element.html" %}

{% block element %}

  <h2>{{gettext('Content')}}</h2>

  {% for element in element.getChildren() %}
    {% include "include/element-header.html" %}
    <div class="collection-content">
      {{element.render("course")|safe}}
    </div>
  {% endfor %}

  <h2>{{gettext('History')}}</h2>

  <ol>
    {% for commit in element.history() %}
      <li>
        <a href="{{url_for('course_element_view', course=element.course, branch=commit)}}">
          {{commit}}
        </a>

        -
        <span>{{commit.message}}</span>
        -
        <span>{{commit.author}}</span>
      </li>
    {% endfor %}
  </ol>

  <h2>{{gettext('Branches')}}</h2>

  <ol>
    {% for branch in element.getCheckedOutBranches() %}
      <li>
        <a href="{{url_for('course_element_view', course=element.course, branch=branch)}}">
          {{branch}}
        </a>
      </li>
    {% endfor %}
  </ol>

  <form method="POST"  action="{{url_for('course_element_branch', course=element.course, branch=element.branch)}}">
    <div class="form-group">
      <label for="credits">{{gettext('Branch Name')}}</label>
      <input type="text" class="form-control" id="branch" name="branch">
    </div>

    <button type="submit" class="btn btn-default">{{gettext('Create Branch')}}</button>
  </form>

{% endblock element %}
