.minidisplayedit textarea.form-control {
  width: 70%;
}

.minidisplayedit select.form-control {
  width: 30%;
}

.element-header-buttons {
  float:right;
}

ol.collection-headers > li {
  list-style-type: none;
}

ol.menu-course > li {
  list-style-type: none;
}
